<!-- Cards for the 3 different month's budget -->
<ul>
    <li>
        <mat-card class="card">
            <mat-card-title>{{today | date: 'MMMM'}}</mat-card-title>
                    <a style ="display: block;" mat-raised-button color="primary" routerLink="/incomes/create"> Add Income</a>
                    <a style ="display: block;" mat-raised-button color="primary" routerLink="/transactions/create">Record Transaction</a> 
            <div class="transaction">
                <mat-table #table [dataSource]="dataSourceOne">
                    <mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

                    <ng-container matColumnDef="CategoryType">
                        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                        <mat-cell *matCellDef="let transaction">{{transaction.Category.CategoryType}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TransactionAmount">
                        <mat-header-cell *matHeaderCellDef>Transaction</mat-header-cell>
                        <mat-cell *matCellDef="let transaction">$ {{transaction.TransactionAmount}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="TransactionDate">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let transaction">{{transaction.TransactionDate | date: 'fullDate'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let transaction">
                            <i matTooltip="Edit Transaction" aria label="Edit" mat-icon class="material-icons"
                                routerLink="/transactions/edit/{{transaction.TransactionID}}"> edit </i>
                            <i matTooltip="Delete Transaction" aria label="Delete"  class="material-icons"
                                routerLink="/transactions/delete/{{transaction.TransactionID}}">delete</i>
                        </mat-cell>
                    </ng-container>

                </mat-table>
            </div>
            <div>
                <p matTooltip="This is your remaining balance for the month." aria label="Balance">$ {{balanceOne}}</p>
                <h5>REMAINING</h5>
            </div>
        </mat-card>
    </li>

    <li>
        <mat-card class="card">
            <mat-card-title>{{fullDateMonthTwo | date: 'MMMM'}}</mat-card-title>
            <a style ="display: block;" mat-raised-button color="primary" routerLink="/incomes/create"> Add Income</a>
            <a style ="display: block;" mat-raised-button color="primary" routerLink="/transactions/create">Record Transaction</a> 
            <div class="transaction">
                <mat-table #table [dataSource]="dataSourceTwo">
                    <mat-header-row *matHeaderRowDef="columnNames sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

                    <ng-container matColumnDef="CategoryType">
                        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                        <mat-cell *matCellDef="let transaction">{{transaction.Category.CategoryType}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TransactionAmount">
                        <mat-header-cell *matHeaderCellDef>Transaction</mat-header-cell>
                        <mat-cell *matCellDef="let transaction">$ {{transaction.TransactionAmount}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="TransactionDate">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let transaction">{{transaction.TransactionDate | date: 'fullDate'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let transaction">
                            <i matTooltip="Edit Transaction" aria label="Edit" mat-icon class="material-icons"
                                routerLink="/transactions/edit/{{transaction.TransactionID}}"> edit </i>
                            <i matTooltip="Delete Transaction" aria label="Delete" class="material-icons"
                                routerLink="/transactions/delete/{{transaction.TransactionID}}">delete</i>
                        </mat-cell>
                    </ng-container>

                </mat-table>
            </div>
            <div>
                <p matTooltip="This is your remaining balance for the month." aria label="Balance">$ {{balanceTwo}}</p>
                <h5>REMAINING</h5>
            </div>
        </mat-card>
    </li>

    <li>
        <mat-card class="card">
            <mat-card-title>{{fullDateMonthThree | date: 'MMMM'}}</mat-card-title>
            <a style ="display: block;" mat-raised-button color="primary" routerLink="/incomes/create"> Add Income</a>
            <a style ="display: block;" mat-raised-button color="primary" routerLink="/transactions/create">Record Transaction</a> 
            <div class="transaction">
                <mat-table #table [dataSource]="dataSourceThree">
                    <mat-header-row *matHeaderRowDef="columnNames sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

                    <ng-container matColumnDef="CategoryType">
                        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                        <mat-cell *matCellDef="let transaction">{{transaction.Category.CategoryType}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TransactionAmount">
                        <mat-header-cell *matHeaderCellDef>Transaction</mat-header-cell>
                        <mat-cell *matCellDef="let transaction">$ {{transaction.TransactionAmount}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="TransactionDate">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let transaction">{{transaction.TransactionDate | date: 'fullDate'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let transaction">
                            <i matTooltip="Edit Transaction" aria label="Edit" mat-icon class="material-icons"
                                routerLink="/transactions/edit/{{transaction.TransactionID}}"> edit </i>
                            <i matTooltip="Delete Transaction" aria label="Delete"  class="material-icons"
                                routerLink="/transactions/delete/{{transaction.TransactionID}}">delete</i>
                        </mat-cell>
                    </ng-container>

                </mat-table>
            </div>
            <div>
                <p matTooltip="This is your remaining balance for the month." aria label="Balance">$ {{balanceThree}}</p>
                <h5>REMAINING</h5>
            </div>
        </mat-card>
    </li>

</ul>