.mat-card{
    box-shadow: 0 2px 6px -1px rgba(0,0,0,.2), 0 1px 4px 0px rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.mat-card-title{
    font-size: 40px;
    color: #5CCABF;
    font-family: 'Montserrat', sans-serif;
}
.card{
    width: 400px;
    height: 650px;
    font-size: 120px;
    list-style: none;
    margin: 30px;
  }
.transaction{
    height: 350px;
    overflow: auto;
}

li {
    display: inline-block;
}

ul {
    text-align: center;
    margin-bottom: 0;
}
p{
    font-size: 50%;
    border: 1px #5CCABF solid;
    color: #5CCABF;
    margin-top: 65px;

}

h5{
    color: rgba(0,0,0,.54);
}