mat-form-field{
    width: 50%;
}
i:hover {
    transition: 0.3s;

    color: #5CCABF;
}

.btn-submit{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: #5CCABF;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

.btn-submit:hover{

    transition: 0.3s;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: rgb(164, 230, 223);
    margin: 5px;
    text-decoration: none;
}