mat-form-field{
    width: 50%;
}
mat-panel-title{
    font-size: 20px;
}
h2{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: #212529;
}

i {
    margin: 4px;
}

i:hover {
    transition: 0.3s;

    color: #5CCABF;
}

.btn-submit{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: #5CCABF;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.btn-submit:hover{

    transition: 0.3s;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-color: rgb(164, 230, 223);
    margin: 10px;
    text-decoration: none;
}

.title-color{
    font-family: 'Quicksand', sans-serif;
    color: #747474;
}

* {
    margin-left: 2vw;
    margin-right: 2vw;
} 

.mat-expansion-panel-header{
    padding-top: 2vw;
    padding-bottom: 2vw;
}