<h1>Index</h1>
<a mat-raised-button color="primary" routerLink="/category/create">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="CategoryID">
      <mat-header-cell *matHeaderCellDef> Category ID </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.CategoryID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CategoryType">
      <mat-header-cell *matHeaderCellDef> Category Type </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.CategoryType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let category">
        <i mat-icon class="material-icons" color="warn" routerLink="/category/edit/{{category.CategoryID}}">edit</i>
        <i class="material-icons" routerLink="/category/delete/{{category.CategoryID}}">delete</i>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>