<br>
<a mat-raised-button color="primary" routerLink="/category/create">Add Category</a>

<app-chart></app-chart>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Manage Categories
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

  </mat-expansion-panel>
<!-- <div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

<div>
    <ng-container matColumnDef="CategoryType">
      <mat-header-cell *matHeaderCellDef> Category Type </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.CategoryType}} </mat-cell>
    </ng-container>
</div>
<div>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let category">
        <i mat-icon class="material-icons" color="warn" routerLink="/category/edit/{{category.CategoryID}}">edit</i>
        <i class="material-icons" routerLink="/category/delete/{{category.CategoryID}}">delete</i>
      </mat-cell>
    </ng-container>
</div>
  </mat-table>
</div> -->