<h1 class="title-color">Edit an Income</h1>
<hr>

<div *ngIf='income'>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)"[formGroup]="editIncomeForm">
        <div>
            <div hidden>
                <mat-form-field>
                    <input matInput placeholder="Amount" formControlName="IncomeID" type="IncomeID" required [value]="income.IncomeID">
                    <span style="color: #747474;" matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <div>
                    <mat-form-field>
                        <input matInput placeholder="IncomeAmount" formControlName="IncomeAmount" type="IncomeAmount" required [value]="income.IncomeAmount" />
                    </mat-form-field>
            </div>
            <div>
                    <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="IncomeDate" formControlName="IncomeDate" placeholder="Choose a date" type="IncomeDate" required>
                            <mat-datepicker-toggle matSuffix [for]="IncomeDate"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #IncomeDate></mat-datepicker>
                    </mat-form-field>
            </div>
        </div>
        <button mat-raised-button class="btn-submit" color="primary" type="submit">Save</button>
    </form>
</div>