<body>
<br>
<br>
<p href="/incomes" class="budgapptop">BudgApp <img class="logo-image" src="../../../assets/coins.png"></p>
<p class="budgappbottom">Budgeting done simple.</p>
<br>
<hr>
<br>
<div class="row" id="content">

        <div class="col-md-6">
            <h2 class="title-text">Wallet</h2>
            <p class="description-text">
            Easily keep track of your spendings by recording your transactions on the wallet page. Add an income on the dates you get paid to be able to know what your current balance is for the selected month. You will be able to plan as far out as two months ahead to help you better organize your budgeting. 
            </p>
            <a mat-raised-button class="btn-submit" color="primary" routerLink="/incomes">Wallet</a>
        </div>
    
        <div class="col-md-6" style="text-align: center;">
            <img src="../../../assets/wallet.png" style="text-align: center; width: 300px; height: 300px;" />
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
    
        <div class="col-md-6" style="text-align: center;">
            <img src="../../../assets/money-bag.png" style="text-align: center; width: 300px; height: 300px;" />
        </div>
    
        <div class="col-md-6">
            <h2 class="title-text">History</h2>
            <p class="description-text">
                    Have you ever wanted to go back and view a transaction from a long time ago? You now have that ability on your history page! View the exact date on any transaction or income recorded and sort by amount or date.
            </p>
            <a mat-raised-button class="btn-submit" color="primary" routerLink="/history">History</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row" id="content">
    
        <div class="col-md-6">
            <h2 class="title-text">Overview</h2>
            <p class="description-text">
                The overview page is where you can view the total summary of your spendings and what areas you tend to lean more towards. The easy to read chart gives you a visual representation of your transactions that breaks down each area of spending by total amount. This tool will guide you to a benefitial path that will help you budget wisely.
            </p>
            <a mat-raised-button class="btn-submit" color="primary" routerLink="/category">Overview</a>
        </div>
    
        <div class="col-md-6" style="text-align: center;">
            <img src="../../../assets/growth.png" style="text-align: center; width: 300px; height: 300px;" />
        </div>
    </div>
</body>
<br>