<div class="row" id="content">

        <div class="col-md-6">
            <h2 class="titles">Wallet</h2>
            <p class="description">
                Create your very own fantasy monsters with our monsters page! Add attributes and give it a name, description, and monster level. There is no limit to the amount of monsters you can create!
            </p>
            <a mat-raised-button class="btn-submit" color="primary" routerLink="/incomes">Wallet</a>
        </div>
    
        <div class="col-md-6" style="text-align: center;">
            <img src="~/Content/assets/DragonLined.png" style="text-align: center; width: 300px; height: 300px;" />
        </div>
    </div>
    
    <div class="row">
    
        <div class="col-md-6" style="text-align: center;">
            <img src="~/Content/assets/helmet.png" style="text-align: center; width: 300px; height: 300px;" />
        </div>
    
        <div class="col-md-6">
            <h2 class="titles">History</h2>
            <p class="description">
                    You also have the ability to look at all transactions or incomes that have been entered.
            </p>
            <a mat-raised-button class="btn-submit" color="primary" routerLink="/history">History</a>
        </div>
    </div>
    
    <div class="row" id="content">
    
        <div class="col-md-6">
            <h2 class="titles">Overview</h2>
            <p class="description">
                Simulate killing your monster and getting a randomly generated loot from the loot you added to the selected monster!
            </p>
            <a mat-raised-button class="btn-submit" color="primary" routerLink="/category">Overview</a>
        </div>
    
        <div class="col-md-6" style="text-align: center;">
            <img src="~/Content/assets/sword.png" style="text-align: center; width: 300px; height: 300px;" />
        </div>
    </div>
