<h1>Create transaction</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="transactionForm">
  <div>

    <div>
      <mat-form-field>
        <input matInput placeholder="TransactionAmount" formControlName="TransactionAmount" type="TransactionAmount" required/>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="TransactionDate" formControlName="TransactionDate" placeholder="Choose a date" type="TransactionDate" required>
      <mat-datepicker-toggle matSuffix [for]="TransactionDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #TransactionDate></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-form-field>
          <mat-select formControlName="CategoryID"> 
              <mat-option *ngFor="let category of categories" value="{{category.CategoryID}}" >
                {{category.CategoryType}}
              </mat-option>
            </mat-select> 
      </mat-form-field>
    </div>

  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Note</button>
</form>

<a mat-button routerLink="/transactions">Back to List</a>
