<h1 class="title-color">Record Transaction</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="transactionForm">
  <div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Amount" formControlName="TransactionAmount" type="TransactionAmount" required>
        <span style="color: #747474;" matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="TransactionDate" formControlName="TransactionDate" placeholder="Choose a date" type="TransactionDate" required>
      <mat-datepicker-toggle matSuffix [for]="TransactionDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #TransactionDate></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-form-field>
          <mat-select formControlName="CategoryID" placeholder="Category"> 
              <mat-option *ngFor="let category of categories" value="{{category.CategoryID}}" >
                {{category.CategoryType}}
              </mat-option>
            </mat-select> 
      </mat-form-field>
    </div>

  </div>
  <button mat-raised-button class="btn-submit" color="primary" type="submit">Record Transaction</button>
</form>

<a class="btn-back" mat-button routerLink="/history">Back to List</a>
