<h1 class="title-color">Delete Transaction</h1>
<h4 class="title-color">Are you sure you want to delete this transaction? :(</h4>
<hr> 
<div *ngIf="transaction">
    <div>
            <label class="types" for="">Amount: </label> <br/>
            <span> $ {{transaction.TransactionAmount | number:'1.0-2'}}</span>
            <hr style="width: 20%">
    </div>
    <div>
        <label class="types" for="">Date:  </label> <br/>
        <span> {{transaction.TransactionDate| date: 'fullDate'}}</span>
        <hr style="width: 20%">
    </div>
    <div>
            <label class="types" for="">Transaction Type:</label> <br/>
            <span>{{category.CategoryType}}<p>Category type doesn't work!!!!!!!!!!!</p></span>
            <hr style="width: 20%">
    </div>

</div>

<button mat-raised-button class="btn-delete" (click)="onDelete()">Delete</button>
<br>
<a class="btn-back" mat-button routerLink="/history">Back to List</a>