<mat-toolbar color="primary">
    <a src="">BudgApp</a>
    <img class="logo-image" src="../../../assets/coins.png">
    <button mat-button class="nav-btn" routerLink="/**" routerLinkActive="active-class">About</button>

<div *ngIf="!isLoggedIn" class="logging-btns">
        <button mat-raised-button class="nav-btn nav-btn-raised nav-btn-side" routerLink="/register">Register</button>
        <button mat-raised-button class="nav-btn nav-btn-raised nav-btn-side" routerLink="/login">Login</button>    
</div>
<div *ngIf="isLoggedIn" class="loggedIn">
    <button mat-button class="nav-btn" routerLink="/incomes" routerLinkActive="active-class">Wallet</button>
    <button mat-button class="nav-btn" routerLink="/history" routerLinkActive="active-class">History</button>
    <button mat-button class="nav-btn" routerLink="/transactions" routerLinkActive="active-class">Transaction</button>
    <button mat-button class="nav-btn" routerLink="/category" routerLinkActive="active-class">Overview</button>

    <button mat-raised-button class="nav-btn nav-btn-raised nav-btn-side" (click)="onLoggout()">LogOut</button> 
  
    </div>
  <div *ngIf="IsAdmin" class="admin">
    <button mat-button class="nav-btn" routerLink="/admin-dashboard" routerLinkActive="active-class">Admin</button>
  </div>
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>