<mat-toolbar color="primary">
    <a src="">BudgApp</a>
    <img class="logo-image" src="../../../assets/coins.png">

    <button mat-button class="nav-btn" routerLink="/incomes" routerLinkActive="active-class">Wallet</button>
    <button mat-button class="nav-btn" routerLink="/transactions" routerLinkActive="active-class">Transaction</button>
    <button mat-button class="nav-btn" routerLink="/category" routerLinkActive="active-class">Overview</button>
    <span class="example-fill-remaining-space"></span>
  
    <button mat-raised-button class="nav-btn nav-btn-raised nav-btn-side" routerLink="/register">Register</button>
    <button mat-raised-button class="nav-btn nav-btn-raised nav-btn-side" routerLink="/login">Login</button>

</mat-toolbar>