<h1 class="title-color">Delete Income</h1>
<h4 class="title-color">Are you sure you want to delete this Income? :(</h4>
<hr> 
<div *ngIf="income">
    <div>
            <label class="types" for="">Amount:</label><br>
            <span> ${{income.IncomeAmount | number:'1.0-2'}}</span>
            <hr style="width: 20%">
    </div>
    <div>
            <label class="types" for="">Date:</label><br>
            <span> {{income.IncomeDate | date: 'fullDate'}}</span>
            <hr style="width: 20%">
    </div>
</div>

<button mat-raised-button class="btn-delete" (click)="onDelete()">Delete</button>
<br>
<a class="btn-back" mat-button routerLink="/incomes">Back to List</a>
