
<br>
<h1 class="title-color">Admin Dashboard</h1>
<br>

<mat-table #table [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

  <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef>Users</mat-header-cell>
      <mat-cell *matCellDef="let userinfo">{{userinfo.Email}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let userinfo">
          <i matTooltip="Delete User" aria label="Delete"  class="material-icons" routerLink="/deleteUser/{{userinfo.UserId}}">delete</i>
      </mat-cell>
  </ng-container>

</mat-table>
<br>
<img src="../../../assets/tools.png" style="text-align: center; width: 200px; height: 200px;" />
<br>
