<h1 class="title-color">Add Income</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="incomeForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Amount" formControlName="IncomeAmount" type="IncomeAmount" required>
        <span style="color: #747474;" matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div>
      
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="IncomeDate" formControlName="IncomeDate" placeholder="Choose a date" type="IncomeDate" required>
          <mat-datepicker-toggle matSuffix [for]="IncomeDate"></mat-datepicker-toggle>
          <mat-datepicker touchUi #IncomeDate></mat-datepicker>
        </mat-form-field>

    </div>
  </div>
  <button mat-raised-button class="btn-submit" color="primary" routerLink="/incomes" type="submit">Add Income</button>
</form>

<a class="btn-back" mat-button routerLink="/incomes">Back to List</a>
